* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Quicksand', sans-serif;
}

header {
    padding: 25px 0;
    background-color: #000000;
    color: #ecf0f1;
    font-weight: normla;
}

header nav li {
    display: inline;
    margin-left: 20px;
    font-size: 18px
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

header nav li a:hover {
    text-decoration: underline;
    color: #ffffff;

}

body {
    background-color: rgb(87, 10, 10);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #ffffff;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
    margin-top: -10px;
}

.social-links img {
    height: 35px;
}

.social-links li { 
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content:space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #a30e0e;
    color: #ffff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #9c3232c5;
}

input:focus, textarea:focus {
    outline-color: #ffffff;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 16px 0;
}